<!DOCTYPE html>
<html lang="en">
    <%- include('../../layout/head') %>

<body>
    <%- include('../../layout/header') %>
    
    <main>
        <div class="template">
            <% bookLists.forEach(book=>{%>
                <form action="/books" method="POST">
                <div class="card">
                    <div class="img-container">
                        <img src=<%=book.image %> alt="book">
                        <input type="hidden" value = <%= book.image%> name="image" >
                    </div>
                    <h3>
                        <%=book.title %>
                        <input type="hidden" value = <%= book.title%>  name="title">

                    </h3>
                    <p>
                        <%= book.author %>
                        <input type="hidden" value = <%= book.author%> name="author">
                    </p>
                    <p>
                        <%= book.description %>
                        <input type="hidden" value = <%= book.description%> name="description">
                    </p>
                    <input type="submit" value = "Select this Book" class="submit">
                </div>
            </form>
                <% }); %>
        </div>
    </main>
    <%- include('../../layout/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="app.js"></script>
</body>

</html>